<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rescuer.newmyapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/computerrescuer"
        android:label="@string/app_name"
        android:roundIcon="@drawable/computerrescuer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.rescuer.newmyapplication.WorkActivity"></activity>
        <activity android:name="com.rescuer.newmyapplication.RestActivity" />
        <activity android:name="com.rescuer.newmyapplication.SettingActivity" />
        <activity android:name="com.rescuer.newmyapplication.MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>